

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.centro{
	text-align: center;
}

.menu{
	text-align: center;
}
.pie{
	text-align: center;
}











