{% extends 'base.html' %}
{% block MAIN %}
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="{{STATIC_URL}}/img/portada1.jpg" >
      <div class="container">
        <div class="carousel-caption">
          <h1 style="color:white;">Nos preocupamos por usted</h1>
          <p class="lead"style="opacity:0.5;">Contamos con profesionales de alto nivel, preocupados por sus necesidades, que brindan atención con énfasis en lo humano</p>

        </div>
      </div>
    </div>
    <div class="item">
      <img src="{{STATIC_URL}}/img/2.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1 style="color:white;">Another example headline.</h1>
          <p class="lead" style="opacity:0.5;">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="{{STATIC_URL}}/img/3.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1 style="color:white;">One more for good measure.</h1>
          <p class="lead"style="opacity:0.5;">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>
{% endblock %}