{% extends 'base.html' %}
{% block MAIN %}
<div class="tabbable tabs-left">      
	<ul id="myTab" class="nav nav-tabs">
		<li class="active"><a href="#informacion" data-toggle="tab">Informaciones</a></li>
		<li><a href="#agendadas" data-toggle="tab">Horas Agendadas</a></li>
		<li><a href="#tomar" data-toggle="tab">Toma Hora</a></li>
		<li><a href="#administrar" data-toggle="tab">Administrar cuenta</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade in active" id="informacion">
			{%if error%}
				<div class="alert alert-error">
		        	<button type="button" class="close" data-dismiss="alert">×</button>
		        	<strong>ERROR</strong> Formulario mal llenado.
		        </div>
			{%endif%}
			<h3>Bienvenido</h3>
			<h2>Bla Bla Bla</h3>
			<p>Mau Mau Mau</p>
		</div>
		<div class="tab-pane fade" id="agendadas">
			{%if agendamientos%}
				{%for agendamiento in agendamientos%}
					{%if agendamiento.desabilitado%}
					{%else%}
						<table class="table table-hover table-condensed">
							<thead> 
								<tr>
									<td>Especialidad</td>
									<td>Dentista</td>
									<td>Fecha</td>
									<td>Hora</td>
									<td>Eliminar Hora</td>
								</tr>
							</thead>                   
							<tbody>
								<tr>
									<td>agendamiento.especialidad.nombre</td>
									<td>agendamiento.dentista.user.first_name</td>
									<td>agendamiento.calendario.fecha</td>
									<td>agendamiento.calendario.bloque</td>
									<td>
			                            <form action="borrar/hora/{{agendamiento.id}}/" method="post">
				                            {% csrf_token %}
				                            <button type="submit"class="btn btn-primary">Cancelar</button>
			                            </form>
									</td>
								</tr>
							</tbody>
						</table>
					{%endif%}
				{%endfor%}
			{%else%}
				<h3>No posee agendamientos</h3>
			{%endif%}
		</div>
		<div class="tab-pane fade" id="tomar">
		    <form action="" method="post">
		        {% csrf_token %}
		        {{verhorarioe_form}}
		        {{verhorariod_form}}
	    	</form>
			<table class="table table-hover table-condensed">
				<thead> 
					<tr>
						<td>Horario</td>
						<td>Lunes 26</td>
						<td>Martes 27</td>
						<td>Miercoles 28</td>
						<td>Jueves 29</td>
						<td>Viernes 30</td>
					</tr>
				</thead>                   
				<tbody>
					<tr>
						<td>08:00</td>
						<td id="26-08-1"></td>
						<td id="27-08-1"></td>
						<td id="28-08-1"></td>
						<td id="29-08-1"></td>
						<td id="30-08-1"></td>
					</tr>
					<tr>
						<td>08:30</td>
						<td id="26-08-2"></td>
						<td id="27-08-2"></td>
						<td id="28-08-2"></td>
						<td id="29-08-2"></td>
						<td id="30-08-2"></td>
					</tr>
					<tr>
						<td>09:00</td>
						<td id="26-08-3"></td>
						<td id="27-08-3"></td>
						<td id="28-08-3"></td>
						<td id="29-08-3"></td>
						<td id="30-08-3"></td>
					</tr>
					<tr>
						<td>09:30</td>
						<td id="26-08-4"></td>
						<td id="27-08-4"></td>
						<td id="28-08-4"></td>
						<td id="29-08-4"></td>
						<td id="30-08-4"></td>
					</tr>
					<tr>
						<td>10:00</td>
						<td id="26-08-5"></td>
						<td id="27-08-5"></td>
						<td id="28-08-5"></td>
						<td id="29-08-5"></td>
						<td id="30-08-5"></td>
					</tr>
					<tr>
						<td>10:30</td>
						<td id="26-08-6"></td>
						<td id="27-08-6"></td>
						<td id="28-08-6"></td>
						<td id="29-08-6"></td>
						<td id="30-08-6"></td>
					</tr>
					<tr>
						<td>11:00</td>
						<td id="26-08-7"></td>
						<td id="27-08-7"></td>
						<td id="28-08-7"></td>
						<td id="29-08-7"></td>
						<td id="30-08-7"></td>
					</tr>
					<tr>
						<td>11:30</td>
						<td id="26-08-8"></td>
						<td id="27-08-8"></td>
						<td id="28-08-8"></td>
						<td id="29-08-8"></td>
						<td id="30-08-8"></td>
					</tr>
					<tr>
						<td>12:00</td>
						<td id="26-08-9"></td>
						<td id="27-08-9"></td>
						<td id="28-08-9"></td>
						<td id="29-08-9"></td>
						<td id="30-08-9"></td>
					</tr>
					<tr>
						<td>12:30</td>
						<td id="26-08-10"></td>
						<td id="27-08-10"></td>
						<td id="28-08-10"></td>
						<td id="29-08-10"></td>
						<td id="30-08-10"></td>
					</tr>
					<tr>
						<td>13:00</td>
						<td id="26-08-11"></td>
						<td id="27-08-11"></td>
						<td id="28-08-11"></td>
						<td id="29-08-11"></td>
						<td id="30-08-11"></td>
					</tr>					
					<tr>
						<td>13:30</td>
						<td id="26-08-12"></td>
						<td id="27-08-12"></td>
						<td id="28-08-12"></td>
						<td id="29-08-12"></td>
						<td id="30-08-12"></td>
					</tr>					
					<tr>
						<td>14:00</td>
						<td id="26-08-13"></td>
						<td id="27-08-13"></td>
						<td id="28-08-13"></td>
						<td id="29-08-13"></td>
						<td id="30-08-13"></td>
					</tr>
					<tr>
						<td>14:30</td>
						<td id="26-08-14"></td>
						<td id="27-08-14"></td>
						<td id="28-08-14"></td>
						<td id="29-08-14"></td>
						<td id="30-08-14"></td>
					</tr>	
					<tr>
						<td>15:00</td>
						<td id="26-08-15"></td>
						<td id="27-08-15"></td>
						<td id="28-08-15"></td>
						<td id="29-08-15"></td>
						<td id="30-08-15"></td>
					</tr>
					<tr>
						<td>15:30</td>
						<td id="26-08-16"></td>
						<td id="27-08-16"></td>
						<td id="28-08-16"></td>
						<td id="29-08-16"></td>
						<td id="30-08-16"></td>
					</tr>																					
				</tbody>
			</table>		
		</div>
		<div class="tab-pane fade" id="administrar">
			<h3>Hola! {{user.paciente.nombres}} {{user.paciente.apellido_p}} {{user.paciente.apellido_m}}</h3>
			<div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
	                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
	                    	<div class="edicioni">Contraseña</div><div class="edicionc">*******</div><div class="ediciond">Modificar</div>
	                    </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
	                    <div class="accordion-inner">
        				    <form action="modificar/password" method="post">
						        {% csrf_token %}
						        {{modificarp_form.as_p}}
					        	<input type="submit" class="btn" value="Modificar">
					    	</form>	 	                    	
	                    	
	                    </div>
                    </div>
                </div>
                <div class="accordion-group">
                  	<div class="accordion-heading">
                    	<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
	                    	<div class="edicioni">Correo</div><div class="edicionc">{{user.email}}</div><div class="ediciond">Modificar</div>
                    	</a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
	                    <div class="accordion-inner">
        				    <form action="modificar/correo" method="post">
						        {% csrf_token %}
						        {{modificare_form.as_p}}
					        	<input type="submit" class="btn" value="Modificar">
					    	</form>      	
	                    </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                    	<div class="edicioni">Telefono Celular</div><div class="edicionc">{{user.paciente.telefono_c}}</div><div class="ediciond">Modificar</div>
                    </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse" style="height: 0px;">
                    	<div class="accordion-inner">
        				    <form action="modificar/telefonocelular" method="post">
						        {% csrf_token %}
						        {{modificartc_form.as_p}}
					        	<input type="submit" class="btn" value="Modificar">
					    	</form>
                    	</div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                    	<div class="edicioni">Telefono Fijo</div><div class="edicionc">{{user.paciente.telefono_f}}</div><div class="ediciond">Modificar</div>
                    </a>
                    </div>
                    <div id="collapseFour" class="accordion-body collapse" style="height: 0px;">
                    	<div class="accordion-inner">
        				    <form action="modificar/telefonofijo" method="post">
						        {% csrf_token %}
						        {{modificartf_form.as_p}}
					        	<input type="submit" class="btn" value="Modificar">
					    	</form>
                    	</div>
                    </div>
                </div>	                
            </div>
		</div>
	</div>
</div>
{% endblock %}