{% extends 'base.html' %}
{% block MAIN %}

<h1>Clinica Don pepito</h1>

<h4>Somos la cumbia morena, asi que venga que lo dejamos ready</h4>
<br/>
<p>Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla </p>
<br/>
<br/>
<a data-toggle="modal" href="#profesionales" class="btn btn-primary btn-large">Profesionales</a>
<br/>
<br/>
<p>Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble</p>
<br/>
<br/>
<a data-toggle="modal" href="#especialidades" class="btn btn-primary btn-large">Especialidades</a>
<br/>
<br/>
<p>Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble Ble </p>

<div id="profesionales" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Modal Heading</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid">
	  		<div class="span12">
	  			<div class="row-fluid">
	  				<div class="span6">
						<img src="{{STATIC_URL}}/img/me.png" alt="">
	  				</div>
	  				<div class="span6">
						<h2> Juanito perez</h2>
						<h3> Protesis Fija</h3>
						<p> Bueno el weon, no corre mano ni nada xD</p>
	  				</div>
	  			</div>
	  			<br/>
	  			<div class="row-fluid">
	  				<div class="span6">
						<img src="{{STATIC_URL}}/img/me.png" alt="">
	  				</div>
	  				<div class="span6">
						<h2> Juanito perez</h2>
						<h3> Protesis Fija</h3>
						<p> Bueno el weon, no corre mano ni nada xD</p>
	  				</div>	  				
	  			</div>
	  			<br/>
	  			<div class="row-fluid">
	  				<div class="span6">
						<img src="{{STATIC_URL}}/img/me.png" alt="">
	  				</div>
	  				<div class="span6">
						<h2> Juanito perez</h2>
						<h3> Protesis Fija</h3>
						<p> Bueno el weon, no corre mano ni nada xD</p>
	  				</div>	  				
	  			</div>
	  			<br/>	  			
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary">Cerrar</button>
	</div>
</div>

<div id="especialidades" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Modal Heading</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid">
	  		<div class="span12">
	  			<div class="row-fluid">
	  				<div class="span6">
						<img src="{{STATIC_URL}}/img/me.png" alt="">
	  				</div>
	  				<div class="span6">
						<h2> Juanito perez</h2>
						<h3> Protesis Fija</h3>
						<p> Bueno el weon, no corre mano ni nada xD</p>
	  				</div>
	  			</div>
	  			<br/>
	  			<div class="row-fluid">
	  				<div class="span6">
						<img src="{{STATIC_URL}}/img/me.png" alt="">
	  				</div>
	  				<div class="span6">
						<h2> Juanito perez</h2>
						<h3> Protesis Fija</h3>
						<p> Bueno el weon, no corre mano ni nada xD</p>
	  				</div>	  				
	  			</div>
	  			<br/>
	  			<div class="row-fluid">
	  				<div class="span6">
						<img src="{{STATIC_URL}}/img/me.png" alt="">
	  				</div>
	  				<div class="span6">
						<h2> Juanito perez</h2>
						<h3> Protesis Fija</h3>
						<p> Bueno el weon, no corre mano ni nada xD</p>
	  				</div>	  				
	  			</div>
	  			<br/>	  			
			</div>
		</div>		
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary">Cerrar</button>
	</div>
</div>
{% endblock %}