{% extends 'base.html' %}
{% block MAIN %}
<div class="tabbable tabs-left">      
	<ul id="myTab" class="nav nav-tabs">
		<li class="active"><a href="#informacioness" data-toggle="tab">Informaciones</a></li>
		<li><a href="#reservars" data-toggle="tab">Reservar hora</a></li>
		<li><a href="#cancelars" data-toggle="tab">Cancelar hora de un paciente</a></li>
		<li><a href="#verfichas" data-toggle="tab">Ver ficha de un Paciente</a></li>
		<li><a href="#administrars" data-toggle="tab">Administrar Cuenta</a></li>
	</ul>
	<div id="myTabContent" class="tab-content">
		<div class="tab-pane fade in active" id="informacion">
		</div>
		<div class="tab-pane fade" id="reservars">
		</div>
		<div class="tab-pane fade" id="cancelars">
		</div>
		<div class="tab-pane fade" id="verfichas">
		</div>
		<div class="tab-pane fade" id="administrars">
		</div>
	</div>
</div>
{% endblock %}