{% extends 'base.html' %}
{% block MAIN %}
<ul id="myTab" class="nav nav-tabs" >
	<li class="active"><a href="#metro" data-toggle="tab">En Metro</a></li>
	<li class=""><a href="#micro" data-toggle="tab">En Micro</a></li>
	<li class=""><a href="#auto" data-toggle="tab">En Auto</a></li>
</ul>
<div>
	<div id="myTabContent" class="tab-content" style="text-align:center;">
		<div class="tab-pane fade active in" id="metro">
			<img src="{{STATIC_URL}}/img/mapa.jpg" alt="">
			<p style="padding-top:3%;">Para llegar en metro, la estación más cercana es Cerro Blanco, línea 2.</p> 
		</div>
		<div class="tab-pane fade" id="micro">
			<img src="{{STATIC_URL}}/img/mapa.jpg" alt="">
			<p style="padding-top:3%;">Para llegar en transantiago puede tomar los recorridos 301, 201, 202 o 223 en el paradero frente a Estación metro Cal y Canto o en cualquier paradero del eje Gran Avenida - San Diego.</p>
		</div>
		<div class="tab-pane fade" id="auto">
			<img src="{{STATIC_URL}}/img/mapa.jpg" alt="">
			<p style="padding-top:3%;">Para llegar en automóvil, debe tomar Avenida La Paz hacia el norte o Sergio Livingstone (ex-olivos) hacia oriente.</p>
		</div>
	</div>
</div>
{% endblock %}