{% extends 'base.html' %}
{% block MAIN %}
<ul id="myTab" class="nav nav-tabs" >
	<li class="active"><a href="#metro" data-toggle="tab">En Metro</a></li>
	<li class=""><a href="#micro" data-toggle="tab">En Micro</a></li>
	<li class=""><a href="#auto" data-toggle="tab">En Auto</a></li>
</ul>
<div>
	<div id="myTabContent" class="tab-content" style="text-align:center;">
		<div class="tab-pane fade active in" id="metro">
			<img src="{{STATIC_URL}}/img/mapa1.gif" alt="">
			<p >Blaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa  aaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaa aaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa  aaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p> 
		</div>
		<div class="tab-pane fade" id="micro">
			<img src="{{STATIC_URL}}/img/mapa1.gif" alt="">
			<p >Blaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa  aaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaa aaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa  aaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
		</div>
		<div class="tab-pane fade" id="auto">
			<img src="{{STATIC_URL}}/img/mapa1.gif" alt="">
			<p>Blaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa  aaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaa aaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa  aaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
		</div>
	</div>
</div>
{% endblock %}